@import url(../../common.css);

body {
    background-color: lightgray;
}

#wrapper {
    width: 60%;
    margin: 0 auto 0;
    background-color: #fff;
}

/* header style */
h1 {
    background-color: rgb(255, 166, 0);
    color: #fff;
    font-size: 90px;
    text-align: center;
    font-weight: bold;
    padding: 12px;
}

h1 span {
    display: block;
    font-size: 0.2em;
    padding-top: 20px;
}

.stit {
    color: #222;
    font-size: 12px;
    text-align: center;
    background-color: rgb(199, 198, 198);
    padding: 5px;
}

/* main style */
.side-menu {
    width: 25%;
    float: left;
    
}

.side-menu h3 {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: rgb(128, 0, 0);
    padding: 10px;
}

.side-menu ul {
    font-size: 12px;
    font-weight: bold;
    line-height: 2.4;
    text-decoration: underline;
    color: #000;
    padding: 10px;
}

.main-content {
    width: 50%;
    float: left;
    background-color: rgb(214, 214, 214);
}

.main-content .art-piece {
    padding: 10px;
}

.main-content .art-piece .title {
    color: #fff;
    font-size: 16px;
    background-color: #123456;
    padding: 7px;
}

.main-content .art-piece .artist {
    font-weight: bold;
    color: #123456;
    font-size: 16px;
    padding: 17px 0;
}

.main-content .art-piece .detail {
    color: #123456;
    font-size: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}

.banner {
    width: 25%;
    float: right;
    padding: 10px;
    
}

.banner h3 {
    font-size: 20px;
}

.banner h3 .all {
    font-weight: bold;
    text-decoration: underline;
    display: block;
    color: rgb(156, 156, 156);
    padding: 10px 0px;
}

.banner h3 .love {
    font-weight: bold;
    text-decoration: underline;
    display: block;
    color: rgb(255, 153, 0);
    padding-bottom: 10px;
    
}

.banner h3 strong {
    font-weight: bold;
    display: block;
    color: #333;
    padding-bottom: 30px;
}

.banner .link li {
    font-size: 12px;
    line-height: 1.4;
    padding-bottom: 10px;
}

.banner .link a {
    font-weight: bold;
    text-decoration: underline;
}

.banner .link li span {
    display: block; 
}

/* footer style */
footer {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: #123456;
    padding: 10px;
}

footer a {
    text-decoration: underline;
}